<div ng-controller="testsManagerController">
    <div style="width: 100%;">
        <div style="float:left; width: 20%">
            <button ng-click="runSelectedTests()" ng-show="!currentlyRunningTests">
                Run selected tests
            </button>
            <button ng-click="stopRunningTests()" ng-show="currentlyRunningTests">
                Stop running tests
            </button>
            <tree nodes='treeNodes' options="treeOptions"></tree>
        </div>
    </div>
</div>