target/
bin/
.idea/
.gitignore
/op-sharedbus/logs/*.logs
/nbproject/private/
/op-core-pc/pc-server/target/
/op-core-pdb/common-model/target/
/op-core-pdb/pdb-client/target/
/op-core-pdb/pdb-server/target/
/op-core-pc/pc-client/target/
/op-core-anonymizationengine/eu.operando.core.annonymization.client/target/
/op-core-anonymizationengine/eu.operando.core.annonymization.test/target/
/op-core-anonymizationengine/eu.operando.core.anonymization.server/target/
/op-core-logdb/eu.operando.core.ldb.client/target/
/op-core-logdb/eu.operando.core.ldb.server/target/
/op-core-logdb/eu.operando.core.ldb.test/target/
/op-core-logdb/eu.operando.core.ldbsearch.client/target/
/op-core-logdb/eu.operando.core.ldbsearch.server/target/
/op-core-logdb/eu.operando.core.ldbsearch.test/target/
/op-core-privacyforbenefit/eu.operando.core.pfb.client/target/
/op-core-privacyforbenefit/eu.operando.core.pfb.server/target/
/op-core-privacyforbenefit/eu.operando.core.pfb.test/target/
/op-core-udb/target/
/op-core-ose/ose-server/target/
/op-core-pdb/pdb-server-old/target/
/op-core-pdb/delete/pdb-server-old/target/
/op-core-pdb/json/curl-lines.txt
/op-core-pc/pc-server/nb-configuration.xml
/op-core-pdb/json/curl-lines.txt
