# Flask
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
# Use: For API.
# Flask==0.10.1
Flask

# Requests
# License: BSD
# Upstream url: http://docs.python-requests.org/en/master/
# Use: For API.
Requests